DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=gestion_salle
POSTGRES_USER=gestion_user
POSTGRES_PASSWORD=gestion_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

VITE_API_BASE_URL=http://localhost:8000/api
